/************************************
	GENERAL
************************************/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #7f7f7f;
	background-color: #fafafa;
}

img {
	max-width: 100%;
}

h1, h2 {
	color: #4a4a4a;
}

h1 {
	font-size: 2em;
}

h2 {
	font-weight: normal;
	margin: 1em 0;
}

p {
	margin: 1em 0;
	line-height: 1.5em;
}

.blue-text {
	color: blue;
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}


a:link,
a:visited {
	color: #4a4a4a;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: none;
}

/************************************
	HEADER
************************************/
header {
	padding: 1em 0 3em 0;
}

.header-content {
	padding-top: 3em;
}

.name {
	font-weight: bold;
	padding-bottom: 0.5em;
	font-family: 'Barrio', cursive;
	margin: 0;
}

.profile-image {
	width: 70%;
	margin: 0 auto;
}

/************************************
	NAVIGATION
************************************/
.nav a {
	background-color: #e5e5e5;
	display: block;
	padding: 1em 0;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-weight: 700;
}

.nav a:hover {
	background-color: #fff;
}

/************************************
	PORTFOLIO
************************************/
.portfolio {
	background-color: #fff;
	padding: 3em 5%;
	margin-bottom: 1em;
}

.section-title {
	font-size: 1.2em;
	text-transform: uppercase;
	margin-bottom: 3em;
	color: #4a4a4a;
	font-weight: 700;
}

.work {
	margin: 0;
	padding: 0;
	list-style: none;
}

.work li {
	margin-bottom: 3em;
}

/************************************
	SKILLS
************************************/
.skills {
	background-color: #fff;
	padding: 3em 5%;
}

ul.skill-list {
  padding: 0;
  text-align: center;
}

.skill-list li {
  display: inline-block;
  background: blue;
  color: white;
  padding: 10px 20px;
  margin: 5px;
}

/************************************
	FOOTER
************************************/
footer {
	background-color: #fafafa;
	padding: 3em 0;
}

.bottom-footer {
	border-top: 1px solid #e7e7e7;
	padding: 2em 0;
	margin-top: 4em;
}

.footer-name {
	float: left;
	font-family: 'Barrio', cursive;
	margin: 0;
	font-weight: bold;
	color: #4a4a4a;
}

.footer-nav {
	float: right;
}

.footer-nav a {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
}

.footer-links {
	display: none;
}

/************************************
	MEDIA QUERIES
************************************/
@media (min-width: 768px) {
	.nav li {
		display: inline-block;
		margin-left: 1em;
	}
	
	.nav a {
		background-color: transparent;
		padding: 0;
	}
	
	.intro {
		float: left;
		width: 60%;
		margin: 0;
		padding-right: 2em;
		text-align: left;
	}
	
	.profile-image {
		float: right;
		width: 40%;
	}
	
	.work li {
		width: 50%;
		float: left;
		padding: 0 1em;
	}
	
    .work li:nth-child(odd) {
      clear: left;
    }
	
	.clearfix {
		content: "";
		display: table;
		clear: both;
	}
	
	.footer-nav li {
		display: inline-block;
		margin-left: 1em;
	}
	
	.footer-nav .back-top {
		display: none;
	}
}

@media (min-width: 1024px) {
	.intro {
		font-size: 1.3em;
	}
	
	.name {
		float: left;
		padding: 0.3em 0;
	}
	
	.nav {
		float: right;
		padding: 1em 0;
	}
	
	.nav li {
		display: inline-block;
	}
	
	.nav-clear {
		content: "";
		display: table;
		clear: both;
	}
	
	.wrapper {
		width: 90%;
	}
	
	.portfolio {
		background-color: #fff;
		padding: 3em 1%;
	}
	
	.work li {
		width: 33.3%;
		float: left;
		padding: 0 1em;
		line-height: 3px;
	}
	
    .work li:nth-child(odd) {
      clear: none;
    }
  
    .work li:nth-child(4n) {
      clear: left;
    }
}