// Descriptive colour variables

$white 				: #ffffff;
$grey					: #7f7f7f;
$alabaster		: #fafafa;
$tundora			: #4a4a4a;
$mercury			: #e5e5e5;
$transparent	: transparent;
$blue					: #0000ff;

// Font stacks

$sans-serif: Helvetica, Arial, sans-serif;
$stack-open-sans: 'Open Sans', $sans-serif;
$stack-barrio: 'Barrio', cursive;

// Media queries breakpoints

$brk-sml: '(min-width: 768px)';
$brk-lrg: '(min-width: 1024px)';