header {
	padding: 1em 0 3em 0;
}

.nav {
	@media #{$brk-sml} {
		& li {
			display: inline-block;
			margin-left: 1em;
		}
	}
	
	@media #{$brk-lrg} {
		float: right;
		padding: 1em 0;
		
		& li {
			display: inline-block;
		}
	}
}

.nav a {
	background-color: $mercury;
	display: block;
	padding: 1em 0;
	margin-bottom: 0.5em;
	@extend %upper-font;
	@extend %bold-font;
	
	&:hover {
		background-color: $white;
	}
	
	@media #{$brk-sml} {
		background-color: transparent;
		padding: 0;
		
		&:hover {
			background-color: $transparent;
		}
	}
}

.name {
	@extend %bold-font;
	padding-bottom: 0.5em;
	font-family: $stack-barrio;
	margin: 0;
}

.header-content {
	padding-top: 3em;
}

.profile-image {
	width: 70%;
	margin: 0 auto;
	
	@media #{$brk-sml} {
		float: right;
		width: 40%;
	}
	
}